.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  min-width: 320px;
  max-width: 1171px;
  margin: 0 auto;
}
.top-page{
    height: 90px;
    background: #868686;
}
.logo-header{
  width: 50px;
  height: 48px;
  background: url(img/logo.png) 50% no-repeat;
  float: left;
  font-size: 0;
    margin: 19px 0 0 100px;
}

.main-nav{
  position: relative;
}
.main-nav ul{
    position: static;
    width: auto;
    padding: 27px 0 0 0;
    background: transparent;
    display: block;
    float: right;
  margin: 0;
  list-style: none;

}
.main-nav li{
    display: inline-block;
    margin-right: 29px;
    padding: 0;
}
.main-nav li a{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    border: none;
    padding: 8px 19px 8px 20px;
    margin: 0 0 0 12px;
    border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
.main-nav li:last-child a{
  border: none;
}
.main-nav li a:hover{
  background: #ffbb42;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}
.sidenav a:hover {
    color: #ffbb42;
}
.main {

    margin-left: 160px;
    padding: 0 10px;
}
footer{
    background: #868686;
    text-align: center;
    height: 49px;
}
footer p{
    color: #ffffff;
    margin: 0;
    padding: 14px 10px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}